html {
  height: 100%;
}

body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen Mono', sans-serif;
  height: 100%;
}

/** ----------------------------------------------- HEADER ----------------------------------------------------------**/
#header-nav {
  background-color: white;
  border-radius: 0;
  align-content: center;
  border-bottom: 1px solid black;
}

.bottomline {
  border-bottom: 1px solid black;
}

.dropbtn {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  padding: 0;
  border: 0;
  margin: 0;
}

.dropdown-content {
  display: none;
  background: white;
  position: absolute;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid black;
}

.dropdown:hover .dropdown-content {display: block;}

.navbar-brand {
  padding-top: 20px;
  padding-bottom: 15px;
  margin: 0;
}

.navbar-brand h1 { /* Website title */
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.container div {
  text-align: center;
}

.container .navbar-header {
  text-align: center;
  display: inline-block;
  float: none;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-toggler {
  border: none;
}

.menu-list {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
}


.navbar-light .navbar-nav .nav-link {
  color: black;
}


/** ------------------------------------------------ END HEADER ----------------------------------------------------------------**/


/** ------------------------------------------------ BIO PAGE ------------------------------------------------------------------**/
.maintext {
 color: black;
}

.maindiv h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 1.8em;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
}

#portrait {
  max-width: 100%;
  height: auto;
  padding-bottom: 30px;
}

.copyright {
  color: black;
  font-size: 0.7em;
}

#portrait figcaption {
  text-align: left;
}
/** ------------------------------------------------ END BIO ------------------------------------------------------------------- **/


/** ------------------------------------------------ TRADUZIONI PAGE ------------------------------------------------------------------**/
.prevnext {
  color: black;
}

.carousel-inner {
  text-align: center;
}

.carousel-item {
  border: black solid;
}

/** ------------------------------------------------ END TRADUZIONI ------------------------------------------------------------------- **/




/** ---------------------------------------------- MEDIA QUERIES --------------------------------------------------------------- **/
/** ------------------------- Devices w. screen smaller than 768px ---------------------------- **/
@media (max-device-width: 767px) {
.main-image {
/* The image used */
  background-image: url("../images/Grigna.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: 100% auto;
  vertical-align: baseline;
}
}

/** ------------------------- Devices w. screen larger than 767px ---------------------------- **/
@media (min-device-width: 768px) {
.main-image {
/* The image used */
  background-image: url("../images/background.jpg");

  /* Full height */
  width: 100%;
  min-height: 100%;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: 100% auto;
}
}


/** ------------------------------------------- END MEDIA QUERIES ---------------------------------------------------------------- **/





