html {
  height: 100%;
}

body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen Mono', sans-serif;
  height: 100%;
}

.maiuscolo {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;  
  margin-bottom: 5vh;
}

a {
  color: black;
}

a:hover {
  color: black;
  font-weight: bold;
}

/** ----------------------------------------------- HEADER ----------------------------------------------------------**/
#header-nav {
  background-color: white;
  border-radius: 0;
  align-content: center;
  border-bottom: 1px solid black;
}

.bottomline {
  border-bottom: 1px solid black;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  border: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  border-style: none solid solid solid;
  border-color: black;  
  border-width: 0px  1px 1px 1px;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
  color: #404040;
  }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: white;}


/* For dropdown in index page -- inside navbar */
#header-ind .dropdown {
  width: 100%;
  height: 100%;  
}

#header .dropdown {
  width: 100%;
  height: 100%;  
}


#header-ind .dropbtn {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  padding: 0;
  border: 0;
  margin: 0;
}


#header .dropbtn {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  padding: 0;
  border: 0;
  margin: 0;
}

#header-ind .dropdown-content {
  display: none;
  background: white;
  position: absolute;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid black;
}

#header .dropdown-content {
  display: none;
  background: white;
  position: absolute;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid black;
}


#header-ind .dropdown:hover .dropdown-content {display: block;}

#header .dropdown:hover .dropdown-content {display: block;}

.navbar-brand {
  padding-top: 20px;
  padding-bottom: 15px;
  margin: 0;
}

.navbar-brand h1 { /* Website title */
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.container div {
  text-align: center;
}

.container .navbar-header {
  text-align: center;
  display: inline-block;
  float: none;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  font-weight: 300;
}

.navbar a:hover, .navbar a:focus {
  text-decoration: none;
  font-weight: 300;
}

.navbar-toggler {
  border: none;
}

.menu-list {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
}


.navbar-light .navbar-nav .nav-link {
  color: black;
}


/** ------------------------------------------------ END HEADER ----------------------------------------------------------------**/


/** ------------------------------------------------ BIO PAGE ------------------------------------------------------------------**/
.maintext {
 color: black;
}

.maindiv h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 1.8em;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
}

#portrait {
  max-width: 100%;
  height: auto;
  padding-bottom: 30px;
}

.copyright {
  color: black;
  font-size: 0.7em;
}

#portrait figcaption {
  text-align: left;
}
/** ------------------------------------------------ END BIO ------------------------------------------------------------------- **/

/** ------------------------------------------------ FOOTER ------------------------------------------------------------------**/
#footer {
  text-align: center;
  font-family: 'Amatic SC';
  font-weight: 300;
}

#footer .h4 {
  font-weight: 300;
  text-transform: uppercase;
  vertical-align: middle;
}

.v-align {
  vertical-align: middle;
}


/** ------------------------------------------------ END FOOTER ------------------------------------------------------------------**/

/** ------------------------------------------------ TRADUZIONI PAGE ------------------------------------------------------------------**/
#carouselTraduzioniIndicators {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.prevnext {
  color: black;
}

.carousel-inner {
  text-align: center;
}

.carousel-link:hover {
	text-decoration: none;
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
}

.carousel-link {
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
}

.carousel-item .row {
  max-width: 80%;
}

.carousel-indicators {
  margin-bottom: -5vh;
}

.carousel-indicators li {
    background-color: black;
}
.carousel-indicators .active {
    background-color: black;
}

.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.copertina {
  max-height: 45vmax;
  vertical-align: middle;
}


div .bookdata {
  padding-top: 8vmin;
  padding-left: 5vh;
  font-size: 1.5em;
  text-align: left;
  font-family: 'Amatic SC';
  font-weight: 300;
}

.titolo {
  text-transform: none;
  font-size:1.2em;
  text-transform: uppercase;
}

.testo {
  font-family: 'Oxygen Mono', sans-serif;
  font-size: 0.6em;
}

.poesia {
	max-width: 80%;
}

.ISBN {
  font-size: 0.8em;
  text-transform: uppercase;
}

.edizione {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 6vh;
}

.premio {
  font-size: 0.8em;
  font-weight: 800;
}

.link-sito {
  font-size: 0.9em;
  font-weight: bold;
  text-align: right;
  text-decoration: underline;
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

a[target="_blank"]:visited {
  outline-color: white;
}


.lista-traduzioni {
  margin-top: 10vh;
}


/** ------------------------------------------------ END TRADUZIONI ------------------------------------------------------------------- **/


/** ------------------------------------------------ LIBRI PAGE ------------------------------------------------------------------**/
#carouselLibriIndicators {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.citazione{
  margin-left: 22vmin;
  margin-right: 22vmin;
  margin-bottom: 10vmin;
  margin-top: 5vmin;
}

.cit-testo{
  font-style: italic;
  text-align: center;
}

.cit-autore{
  text-align: right;
  font-weight: 400;
  font-size: 0.9em;
}

.copertine-trad {
	max-width: 30%;
	padding: 5vh;
}

.separator {
	border-top: 1px solid black;
}

.lingue {
  font-family: 'Amatic SC';
  font-size:1.5em;
}

div .prizes {
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 1.2em;
  font-weight: bold;
}

#premio-ch {
	font-size: 1.5em;
}

/** ------------------------------------------------ END LIBRI ------------------------------------------------------------------- **/




/** ---------------------------------------------- MEDIA QUERIES --------------------------------------------------------------- **/
/** ------------------------- Devices w. screen smaller than 768px ---------------------------- **/
@media (max-device-width: 767px) {
.main-image {
/* The image used */
  background-image: url("../images/Grigna.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: 100% auto;
  vertical-align: baseline;
}

#header-ind .dropdown-content {
  display: block;
}



}

/** ------------------------- Devices that cannot hover ---------------------------- **/
@media (hover: none) { 
  #header-ind .dropdown-content {
  display: block;
  border-bottom: 1px  solid black;
  border-left: none;
  border-right: none;
  }

}







/** ------------------------- Devices w. screen larger than 767px ---------------------------- **/
@media (min-device-width: 768px) {
.main-image {
/* The image used */
  background-image: url("../images/background.jpg");

  /* Full height */
  width: 100%;
  min-height: 100%;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: 100% auto;
}
}


/** ------------------------------------------- END MEDIA QUERIES ---------------------------------------------------------------- **/





